@{
  Layout = "_Layout";
}
<h1>Bakery</h1>
<!-- <h3><a href='/vendors/new'>Add a Vendor</a></h3>
<button class="btn btn-info" type="button" name="addVendor" onclick="window.location.href='/vendors/new'">Add a Vendor</button>

<h3><a href='/vendors'>View a Vendor</a></h3>
<button class="btn btn-danger" type="button" name="viewVendor" onclick="window.location.href='/vendors'">View all Vendors</button> -->
