@{
  Layout = "_Layout";
}
@using ShoppePierre.Models;
<h1>Shoppe Pierre Bakery</h1>
<button class="btn btn-danger" type="button" name="viewVendor" onclick="window.location.href='/vendors'">View all Vendors</button>

