<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='~/CSS/styles.css'>
    <meta charset="utf-8">
    <title>ShoppePierre</title>
  </head>
  <body>
    <div class="jumbotron">
      <h2>Welcome to the Shoppe Pierre </h2>
      <h4>A Bakery with Your Discerning Taste in Mind</h4>
    </div>
    @RenderBody()
    <br>
    <img src="~/Images/Pierre.jpg" />
  </body>
  <style>
  body{
    border: 1em dotted burlywood;
    background-color: aliceblue;
  }
  </style>
</html>
