@using System.Collections.Generic;
@using ShoppePierre.Models;
@{
  List <Vendor> vendors = (List <Vendor>) ViewData["Vendors"];
  Layout = "_Layout";
  
}

<h2> ShoppePierre Vendor(s)</h2>
<!-- Model.Count -->
 @if (vendors.Count == 0)
{
  <p> There are no current entries in the list.</p>
}
<ul>
  @foreach(Vendor vendor in vendors)
  {
    <p><a href ='/vendors/@vendor.Id'>@vendor.VendorTitle</a></p>
  }
</ul>
<button class="btn btn-success" type="button" name="goback" onclick="window.location.href='/vendors/new'">Go to New Vendors Form</button>
<button class="btn btn-success" type="button" name="homepage" onclick="window.location.href='/'">Go Back</button>
