@using ShoppePierre.Models;
@{
  Layout = "_Layout";
}

<!-- <h2> Shoppe Pierre Vendor: Each List Order(s)</h2>
 @if (Model.Orders.Count == 0)
{
  <p> There are no current entries in the order list.</p>
} -->
<ol>
@foreach(Order order in Model.Orders)
{
    <li>

    <a href ='/vendors/@Model.Id/orders/@order.Id'>@order.Name</a>
    <a href ='/vendors/@Model.Id/orders/@order.Id'> @order.Email</a>
    <a href ='/vendors/@Model.Id/orders/@order.Id'> @order.PhoneNumber</a></li>
    
}
</ol>
<a href='/'>Go Back Home</a>
<a href='/vendors'>Go Back Vendors</a>
<a href='/vendors/@Model.Id/orders/new'>Orders Home</a>
