@using ShoppePierre.Models;
@{
  Layout = "_Layout";
}
<h2>@Model.VendorTitle Orders</h2>
<ol>
@foreach(Order order in Model.Orders)
{
    <li>

    <a href ='/vendors/@Model.Id/orders/@order.Id'>@order.Name</a>
    <a href ='/vendors/@Model.Id/orders/@order.Id'> @order.Email</a>
    <a href ='/vendors/@Model.Id/orders/@order.Id'> @order.PhoneNumber</a></li>
    
}
</ol>
<a href='/'>Go Back Home</a>
<a href='/vendors'>Go Back Vendors</a>
<a href='/vendors/@Model.Id/orders/new'>Add to Orders</a>
