@{
  Layout = "_Layout";
}

<h1>Orders for this Vendor have been removed.</h1>
<p><a href="/orders">Back to Vendor Orders</a></p>
<button class="btn btn-danger" type="button" name="viewVendor" onclick="window.location.href='/orders'">View all orders</button>
</button>