@{
  Layout = "_Layout";
}

<h1>Add a New Order to @Model.VendorTitle</h1>
<p>Enter Order Information:</p>
<form class="" action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" type="hidden" name="vendorId" value="@Model.Id">
  <br>
  <label for="orderName">Name:</label>
  <input id="orderName" type="text" name="orderName">
  <br>
  <label for="orderEmail">Email:</label>
  <input id="orderEmail" type="text" name="orderEmail">
  <br>
  <label for="orderPhoneNumber">Phone Number:</label>
  <input id="orderPhoneNumber" type="text" name="orderPhoneNumber">
  <br>
  <button type="submit" class="btn btn-primary" name="button">Submit Order</button>
</form>