body {
    font-display: 18px; 
    color:  rgb(116, 89, 89);
    background-color: rgba(0,255,255, 0.23);
    border: 2.3em solid burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size-adjust: 24px;
  }
  
  .jumbotron {
    background-color: aqua;
    border: .68em dotted  rgba(116, 89, 89, 0.2);; 
  }

  h2 h4{
    font-style: italic;
    
  }

  h2 {
    font-weight: absolute 1.2em;
    color: brown;
  }

  h4 {
   color: #5c0000;
  }